/* HEADER */

.fundo {
    background: royalblue;
}

.inicio {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.text {
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 18px;
}


#nav-inicio {
    width: 100%;
    padding: 1.1%;
    background: rgb(255, 70, 70);
}

#nav-inicio:hover {
    background: rgba(255, 70, 70, 0.842);
}

#nav-aluno {
    width: 100%;
    padding: 1.1%;
    background: rgb(0, 207, 62);
}

#nav-aluno:hover {
    background: rgba(0, 173, 52, 0.836);
}

#nav-professor {
    width: 100%;
    padding: 1.1%;
    background: rgb(255, 255, 0);
}

#nav-professor:hover {
    background: rgba(255, 255, 0, 0.836);
}

#nav-secretaria {
    width: 100%;
    padding: 1.1%;
    background: rgb(0, 183, 255);
}

#nav-secretaria:hover {
    background: rgba(0, 132, 255, 0.76);
}

/* MAIN */


.titulo {
    color: black;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    font-size: 60px;
    margin: 4% 0;
}

.portal-escolar {
    background: rgba(255, 255, 0, 0.178);
    margin: 0 5% 4%;
    padding: 2%;
}

.logo{
    display: flex;
    justify-content: space-around;
}

.login-portal-escolar{
    text-align: center;
}

.titulo-portal{
    font-family: 'Work Sans', sans-serif;
    font-size: 45px;
    margin-bottom: 10%;
}

.login-espaço{
    margin-bottom: 10%;
}

.login-senha-titulo{
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    margin-bottom: 2%;
    font-weight: bolder;
}

.login{
    height: 25px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
}

.senha{
    height: 25px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
}

/*Section topicos*/

.espaço-topicos{
    margin: 5% 0;
}

.topico1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.topico2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ajuste {
    margin: 1%;
    text-align: center;
    border-radius: 20px;
    width: 15%;
}

.ajuste:hover {
    background: rgba(119, 119, 119, 0.158);
    transition: 0.3s;
    transform: scale(1.1);
}

.topico {
    text-decoration: none;
    color: black;
}

.tamanho-imagem {
    width: 120px;
    height: 120px;
    border-radius: 60px;
}

.tamanho-imagem:hover {
    transform: translate(0px, -15%);
    transition: 0.3s;
}

.texto-topico {
    margin: 5% 0 0;
    font-size: 17px;
    font-family: 'Work Sans', sans-serif;
}

/*FOOTER*/

footer {
    background: royalblue;
    text-align: center;
}

footer img {
    width: 4.5%;
}

.logo2 {
    background: royalblue;
    font-size: 11px;
    padding-top: 1.5%;
}

#copy {
    padding-top: 0;
    padding-bottom: 1.5%;
}

/*HEADER*/

@media only screen and (min-width: 1050px) and (max-width: 1224px) {}

@media only screen and (min-width: 807px) and (max-width: 1049px) {}

@media only screen and (min-width: 748px) and (max-width: 806px) {}

@media only screen and (min-width: 514px) and (max-width: 747px) {}

@media only screen and (min-width: 441px) and (max-width: 513px) {}

@media only screen and (min-width: 400px) and (max-width: 440px) {}

@media only screen and (min-width: 360px) and (max-width: 399px) {}

@media only screen and (min-width: 320px) and (max-width: 359px) {}

/*MAIN*/

@media only screen and (min-width: 724px) and (max-width: 791px) {}

@media only screen and (min-width: 320px) and (max-width: 460px) {}

/*FOOTER*/

@media only screen and (min-width: 1000px) and (max-width: 1300px) {}

@media only screen and (min-width: 800px) and (max-width: 999px) {}

@media only screen and (min-width: 600px) and (max-width: 799px) {}

@media only screen and (min-width: 500px) and (max-width: 599px) {}

@media only screen and (min-width: 400px) and (max-width: 499px) {
    footer img {
        width: 10%;
    }

    .copy {
        padding-top: 2.2%;
        padding-bottom: 2.2%;
    }
}

@media only screen and (min-width: 320px) and (max-width: 399px) {
    footer img {
        width: 10%;
    }
}