/*HEADER*/

.fundo {
    background-color: royalblue;
    border-bottom: rgb(54, 54, 223) solid 2px;
}

.logo {
    display: inline-block;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 41.2%;
}

.imagem {
    width: 30%;
}

.texto {
    font-family: 'Work Sans', sans-serif;
    color: white;
    font-weight: bolder;
    font-size: 30px;
    padding-top: 8.5%;
    padding-left: 35%;
}

/*MAIN*/

.borda {
    border: black solid 0px;
    text-align: center;
    padding: 2%;
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 28px;
    background-color: darkgray;
}

.fonte {
    font-family: 'Work Sans', sans-serif;
}

.textsecretaria {
    font-size: 32px;
    padding-bottom: 3%;
}

.textprof2 {
    font-size: 20px;
    margin-bottom: 3%;
}

.login {
    padding-bottom: 3%;
    font-size: 20px;
}

.caixa1 {
    margin-bottom: 3%;
    border-radius: 5px;
    border: 0;
    padding: 1.5%;
    margin-right: 10%;
}

.senha {
    font-size: 20px;
}

.caixa2 {
    margin-right: 1.1%;
    border-radius: 5px;
    border: 0;
    padding: 1.5%;
    margin-right: 11.3%;
}

.entrar {
    margin-top: 4%;
    font-size: 20px;
    border-radius: 5px;
    border: 0;
    padding: 1.5%;
    padding-right: 4%;
    padding-left: 4%;
}

.entrar:hover {
    background-color: rgb(218, 211, 211);
    transition: .5ms;
    cursor: pointer;
}